.page-content {
    margin-top: 30px;
}

button {
    margin-right: 10px;
}

input {
    margin: 0;
}

input[type=range] {
    margin-left: 10px;
    margin-right: 10px;
    accent-color: #212529;
}

.width-200 {
    width: 200px;
}

.width-300 {
    width: 300px;
}
