.page-content {
    margin-top: 30px;
}

.control-btn {
    margin-right: 10px;
    margin-bottom: 10px;
}

.control-btn-last {
    margin-bottom: 30px;
}

input {
    margin: 0;
}

input[type=range] {
    margin-left: 10px;
    margin-right: 10px;
    accent-color: #212529;
}

.width-310 {
    width: 310px;
}

.alert-sm {
    padding-top: 5px;
    padding-bottom: 5px;
}

.alert-center {
    display: grid;
}
