table.table {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

th {
    text-align: center;
    padding: 50px;
}

.from-to-span {
    margin: 5px;
}

.table-row-span {
    display: block;
    margin-top: 2px;
}

.table-input {
    width: 40px;
    border: none;
    text-align: center;
}